* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;

  //background: red;
}

div.m_100px {
  height: 100px;
}
div.m_50px {
  height: 50px;
}

div.logo {
  text-align: center;
  padding: 40px 0;

  img {
    width: 300px;
    height: 80px;
  }
}
nav {
  padding-right: 100px;
  text-align: center;
  ul {
    margin: 0;
    li {
      display: inline-block;
      list-style: none;
      text-decoration: none;
      padding: 18px;
      a.active {
        &:before {
          content: "";
          display: block;
          background: #d4aa00ff;
          height: 3px;
          width: 100%;
          margin-bottom: 5px;
        }
        &:after {
          content: "";
          display: block;
          background: #d4aa00ff;
          height: 3px;
          width: 100%;
          margin-top: 5px;
        }
      }

      a {
        color: black;
        text-decoration: none;
        //padding: 20px;
        font-size: 20px;
        position: relative;

        &:before {
          content: "";
          display: block;
          background: #d4aa00ff;
          height: 0;
          width: 100%;
          transition: height 0.3s ease-in-out;
          margin-bottom: 5px;
          position: absolute;
          top: -10px;
        }
        &:hover:before {
          height: 3px;
        }
        &:after {
          content: "";
          display: block;
          background: #d4aa00ff;
          height: 0;
          width: 100%;
          transition: height 0.3s ease-in-out;
          margin-top: 5px;
          position: absolute;
          bottom: -10px;
        }
        &:hover:after {
          height: 3px;
        }
      }
    }
  }
}

.container {
  height: 100vh;
  background-image: url("/Урок1/img/7_contacts1.jpg");
  background-size: 100%;
  text-align: center;
  h2 {
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 50px;
    line-height: 1.5;
  }
  .flex {
    padding-top: 100px;
    width: 80%;
    height: 250px;
    margin: auto;
    img {
      width: 100%;
      height: 100%;
    }
    .img {
      padding: 10px;
      width: 50px;
      height: 50px;
      margin: auto;
      border-radius: 50%;
      background: #e5e6e8ff;
      &:hover {
        background: white;
        transform: scale(1.1);
        transition: 0.3s;
      }
    }
    h2 {
      font-size: 20px;
      font-weight: lighter;
    }
    p {
      padding-top: 10px;
      line-height: 1.7;
      font-weight: bold;
    }
    .adress {
      margin-right: 20px;
      vertical-align: bottom;
      height: 250px;
      display: inline-block;
      width: 30%;
      background: white;
      .img {
        margin-top: 30px;
      }
      &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: 0.2s;
      }
    }
    .phone {
      margin-right: 20px;
      height: 250px;
      display: inline-block;
      width: 30%;
      background: white;
      .img {
        margin-top: 30px;
      }
      &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: 0.2s;
      }
    }
    .mail {
      height: 250px;
      display: inline-block;
      width: 30%;
      background: white;
      .img {
        margin-top: 30px;
      }
      &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: 0.2s;
      }
    }
  }
}

div.map {
  filter: grayscale(100%);
}

.m_50px {
  height: 50px;
}

div.footer {
  background: #f2f2f2ff;
  text-align: center;
  h2 {
    margin: 0;
    font-weight: lighter;
    padding: 50px 0;
    text-transform: uppercase;
  }
  div.soc {
    margin: auto;
    width: 15%;
    display: flex;
    justify-content: space-around;
  }
  img {
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  p {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
